@page "~/Event/{act?}"
@model EMS.Admin.Pages.EventModel
@{
    ViewData["Title"] = "Events";
    string showDelete = Model.Act == "0" ? "visually-hidden":"";
}
@if (TempData["Err"] != null)
{
    <div class="alert-danger text-center fw-bold mb-2 mt-1 border-1">@TempData["Err"]</div>
    TempData["Err"] = null;
}
@if (!string.IsNullOrEmpty(Model.Act))
{
    <form method="post" class="d-inline" enctype="multipart/form-data">
        <div class="card border-dark mb-4">
            <div class="card-header bg-dark text-white header-elements-inline">
                <h5 class="card-title">Event</h5>
            </div>
            <div class="card-body">
                <div class="row form-group">
                    <input type="hidden" asp-for="Event.EventID" />
                    <input type="hidden" asp-for="Event.CreatedAt" />
                    <input type="hidden" asp-for="Event.UpdatedAt" />
                    <div class="col-md-6">
                        <label class="fw-bold">Title</label>
                        <input type="text" asp-for="Event.Title" class=" form-control  form-control-sm" placeholder="Title" />
                    </div>
                    <div class="col-md-4">
                        <label class="fw-bold">Type</label>
                        <select asp-items="Model.EventTypeList" asp-for="Event.EventTypeID" class="form-control form-control-sm" >
                            <option value="0">Event Type</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="mt-4 fw-bold">
                            <input asp-for="Event.Published" type="checkbox">
                            <span class="p-0"></span>
                            Publish
                        </label>
                    </div>
                    <div class="col-md-9">
                        <label class="fw-bold">Description</label>
                        <textarea asp-for="Event.Description" rows="3" cols="3" class="form-control form-control-sm" placeholder="Event Description"></textarea>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12">
                            <label class="fw-bold">Event Date</label>
                            <input type="datetime-local" asp-for="Event.StartDate" class=" form-control  form-control-sm" placeholder="Start Date" />
                        </div>
                        <div class="col-md-12">
                            <input type="datetime-local" asp-for="Event.EndDate" class=" form-control  form-control-sm" placeholder="End Date" />
                        </div>
                    </div>
                    
                    <div class="col-md-9">
                        <label class="fw-bold">Upload Image</label>
                            <input type="file" asp-for="upFile" class="form-control form-control-sm"></input>
                    </div>
                    <div class="col-md-3">
                        <label class="fw-bold">MaxQuota</label>
                        <input type="text" asp-for="Event.MaxQuota" class=" form-control  form-control-sm" placeholder="Title" />
                    </div>
                    <div class="col-md-3">
                        <label class="fw-bold">Location</label>
                        <input type="text" asp-for="Event.Location" class=" form-control  form-control-sm" placeholder="Title" />
                    </div>
                    <div class="col-md-3">
                        <label class="fw-bold">latitude</label>
                        <input type="text" asp-for="Event.latitude" class=" form-control  form-control-sm" placeholder="Title" />
                    </div>
                    <div class="col-md-3">
                        <label class="fw-bold">longitude</label>
                        <input type="text" asp-for="Event.longitude" class=" form-control  form-control-sm" placeholder="Title" />
                    </div>
                    <div class="col-md-3">
                        <label class="mt-4 fw-bold">
                            <input asp-for="Event.CanPlanned" type="checkbox">
                            <span class="p-0"></span>
                            Depends on weather
                        </label>
                    </div>
                    @for (var i = 0; i < Model.EventPrices.Count; i++)
                    {
                        <div class="col-md-3">
                            <input asp-for="EventPrices[i].PriceID" type="hidden" />
                            <input asp-for="EventPrices[i].TicketTypeID" type="hidden" />
                            <input asp-for="EventPrices[i].EventID" type="hidden" />
                            <input asp-for="EventPrices[i].TypeName" type="hidden" />
                            <label class="fw-bold">@Model.EventPrices[i].TypeName</label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input asp-for="EventPrices[i].Price" type="text" class="form-control" placeholder="Price">
                                <input asp-for="EventPrices[i].Quota" type="text" class="form-control" placeholder="Quota">
                            </div>
                        </div>
                    }
                    

                </div>

            </div>
            <div class="card-footer">
                <div class="mt-2 mt-sm-0 float-end">

                    <input type="submit" class="btn btn-success btn-sm" value="  Save  " />
                    <input type="submit" asp-page-handler="Delete" class="btn btn-danger btn-sm @showDelete" value=" Delete " onclick="return confirm('are you sure that you want to delete this event?');" />
                    <a class="btn btn-info btn-sm" href="~/Event"> Cancel </a>

                </div>
            </div>

        </div>
    </form>
}

<div class="card border-dark">
    <div class="card-header bg-dark text-white header-elements-inline">
        <h5 class="card-title float-start">
            Events
            <span class="badge">@Model.Events.Count Row</span>
        </h5>

        <div class="header-elements float-end">
            <a class="btn btn-success btn-sm" href="/Event/0">Add New Event</a>
        </div>

    </div>

    <div class="card-body" style="display:none;">
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <tr>
                <th>EventID</th>
                <th>Title</th>
                <th>Image</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>MaxQuota</th>
                <th>Location</th>
                <th>Published</th>
                <th>Edit</th>
            </tr>
            @{
                foreach (var obj in Model.Events)
                {
                    <tr>
                        <td>@obj.EventID</td>
                        <td>@obj.Title</td>
                        <td><img style="width:50px;height:30px;" src="~/upload/@string.Format("e{0}.jpg", obj.EventID) " /></td>
                        <td>@obj.StartDate</td>
                        <td>@obj.EndDate</td>
                        <td>@obj.MaxQuota</td>
                        <td>@obj.Location</td>
                        <td class="fw-bold">
                            @if (obj.Published)
                            {
                                <span class="text-success">Yes</span>
                            }
                            else
                            {
                                <span class="text-danger">No</span>
                            }
                        </td>
                        <td><a class="link-primary fw-bold" href="~/Event/@obj.EventID">Edit</a> </td>
                    </tr>
                }
            }
        </table>

    </div>
</div>




