@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<!-- td-breadcrumb-area-start -->
<div class="td-breadcrumb-area td-breadcrumb-spacing bg-position" data-background="/img/breadcrumb/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="td-breadcrumb-title-wrap">
                    <h2 class="td-breadcrumb-title mb-10 wow td-animetion-left" data-wow-duration="1.5s" data-wow-delay="0.2s">Home Page</h2>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- td-breadcrumb-area-end -->


<!-- td-Announcements-area-start -->
<div class="td-blog-area pt-50 pb-90">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="td-blog-title-wrap text-center mb-20 wow fadeInUp" data-wow-duration=".9s" data-wow-delay=".2s">
                    <span class="td-section-subtitle mb-25"> Latest Announcements</span>

                </div>
            </div>
        </div>
        <div class="row">
            @{
                int deleay = 3;
                foreach (var announce in Model.Announcements)
                {
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-duration=".9s" data-wow-delay="@(string.Format(".{0}s", deleay))">
                        <div class="td-blog-item mb-30">
                            <div class="td-blog-thumb p-relative fix">
                                <img class="w-100" style="height:200px;" src="@Model.adminPath/upload/@(string.Format("a{0}.jpg",announce.AnnounceID))" alt="@announce.Title">

                            </div>
                            <div class="td-blog-content">
                                <h3 class="td-blog-title mb-20">
                                    <a class="underline-black" href="~/Announcements">
                                        @announce.Title
                                    </a>
                                </h3>
                                <div class="td-blog-date">
                                    <span class="mr-20 date">
                                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.6 1V4.6M5.40002 1V4.6M0.900024 8.2H17.1M2.70002 2.8H15.3C16.2941 2.8 17.1 3.60589 17.1 4.6V17.2C17.1 18.1941 16.2941 19 15.3 19H2.70002C1.70591 19 0.900024 18.1941 0.900024 17.2V4.6C0.900024 3.60589 1.70591 2.8 2.70002 2.8Z" stroke="#141418" stroke-width="1.35" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                        @announce.CreatedAt.Value.ToString("dd/MMMM/yy hh:mm tt")
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                    deleay += 2;
                }
            }

        </div>


        <div class="td-brands-btn wow fadeInRight" data-wow-duration=".9s" data-wow-delay=".2s">
            <a class="td-btn td-left-right" href="~/Announcements">
                <span class="mr10 td-text d-inline-block mr-5">See More</span>
                <span class="td-arrow-angle">
                    <svg class="td-arrow-svg-top-right" width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="white" />
                        <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="white" />
                    </svg>
                </span>
            </a>
        </div>


    </div>
</div>
<!-- td-blog-area-end -->
<!-- td-schedule-area-start -->
<div class="td-schedule-area bg-position pt-140 pb-140" data-background="/img/about/bg.jpg">
    <div class="container">
        <div class="row">


            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="td-blog-title-wrap text-center mb-20 wow fadeInUp" data-wow-duration=".9s" data-wow-delay=".2s">
                        <span class="td-section-subtitle mb-25"> Suggested Events</span>

                    </div>
                </div>
            </div>






            <div>
                @foreach (var objevent in Model.Events)
                {
                    <div class="td-schedule-3-wrap mb-30">
                        <div class="row align-items-center">
                            <div class="col-xl-4 col-lg-5">
                                <div class="td-schedule-3-thumb p-relative">
                                    <img class="w-100" style="height:150px;" src="@Model.adminPath/upload/@(string.Format("e{0}.jpg",objevent.EventID))" alt="@objevent.Title">
                                    <span class="td-schedule-2-date"><i class="flaticon-calendar"></i> @objevent.StartDate.Value.ToString("MMMM dd,yy")</span>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-7">
                                <div class="td-schedule-3-content">
                                    <h2 class="td-schedule-3-title">
                                        <a href="~/EventDetails?id=@objevent.EventID">
                                            @objevent.Title
                                        </a>
                                    </h2>
                                    <div class="td-schedule-3-destination mb-10">
                                        <span class="mr-25">
                                            <i class="flaticon-gps"></i>
                                            @objevent.Location
                                        </span>
                                        <span>
                                            <i class="flaticon-time"></i>
                                            @objevent.StartDate.Value.ToString("MMMM dd,yy hh:mm tt") - @objevent.EndDate.Value.ToString("MMMM dd,yy hh:mm tt")
                                        </span>
                                    </div>
                                    <p class="mb-25 para">
                                        @(objevent.Description.Length > 250 ? objevent.Description.Substring(0,250)+"..." : "")
                                    </p>
                                    <div class="td-schedule-3-btn d-flex align-items-center flex-wrap">
                                        <div class="td-schedule-3-user-wrap d-flex align-items-center">
                                            <span class="td-schedule-3-user mr-10">
                                                <img src="/img/schedule/schedule-3/user-3.jpg" alt="">
                                            </span>
                                            <div>
                                                <h6 class="name">Admin</h6>
                                                <span class="position">Author</span>
                                            </div>
                                        </div>
                                        <span class="dvdr"></span>
                                        <a class="td-btn td-btn-3-squre td-left-right text3 mr-25" href="~/EventDetails?id=@objevent.EventID">
                                            <span class="mr10 td-text d-inline-block mr-5">Event Details</span>
                                            <span class="td-arrow-angle">
                                                <svg class="td-arrow-svg-top-right" width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="white" />
                                                    <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="white" />
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                
            </div>

            

            <div class="td-brands-btn wow fadeInRight" data-wow-duration=".9s" data-wow-delay=".2s">
                <a class="td-btn td-left-right" href="~/Events">
                    <span class="mr10 td-text d-inline-block mr-5">All Events</span>
                    <span class="td-arrow-angle">
                        <svg class="td-arrow-svg-top-right" width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="white" />
                            <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="white" />
                        </svg>
                    </span>
                </a>
            </div>


        </div>
    </div>
</div>
<!-- td-schedule-area-end -->



